body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(206, 206, 206);
    color: rgb(15, 15, 15);
    font-size: 18px;
}

h1{
    text-decoration: underline;
    text-align: center;
}
ul li{
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

.subtitle{
    text-align: center;
    text-decoration: underline;
}

img{
    height:400px;
    width:500px;
}

